<!DOCTYPE html>

<html>

	<head>
		
		<style>

</style>
	
		<link rel= "stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>jumper game</title>

	</head>

	<body>

		<div class = "main-div">people

			<div id = "head-div">

				<h1>THIS IS FIGNA</h1>
				
				<ul>
					<li><a href="/peop">people</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
					<li><a href="#figna">figna</a></li>
				</ul>

			</div>

			<div id = "left-div"></div>

			<div id = "right-div" ></div>

			<div id = "center-div"></div>

			<div id = "foot-div"></div>

		</div>

	</body>

</html>
